mat-card, .loader {
    height: calc(100vh - (150px));
    position: sticky;
    top: 16px;
    left: 0;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-content {

    margin-top: 80px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

button:hover {
    color: white;
    background-color: rgb(80, 199, 80);
}