<div *ngIf="spinner">
    <div class="loader" *ngIf="funcionario == undefined; else principal">
        <p>Procurando Funcionário...</p>
        <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
</div>
<ng-template #principal>
    <mat-card>
        <mat-card-header>
            <img [src]="fotoPreview || fotoBase" alt="" mat-card-avatar>
            <mat-card-title> {{ funcionario.nome }} </mat-card-title>
            <mat-card-subtitle> {{ funcionario.email }} </mat-card-subtitle>
            <button mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #settingsMenu="matMenu">
                <menu mat-menu-item routerLink="/funcionarios"><mat-icon>arrow_back</mat-icon> <span>Voltar</span></menu>
                <menu mat-menu-item (click)="deleteFunc(funcionario)"><mat-icon>delete</mat-icon><span>Deletar</span></menu>
            </mat-menu>
        </mat-card-header>
        <section mat-dialog-content>
            <form action="" [formGroup]="formFuncionario" (ngSubmit)="editarFuncionario()">
                <div id="imgDiv"><img id="image" [src]="fotoPreview || fotoBase" alt=""></div>
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input 
                    type="text"
                    matInput
                    formControlName="nome"
                    >
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input 
                    type="email"
                    placeholder="Ex: seuemail@mail.com"
                    matInput
                    formControlName="email"
                    >
                </mat-form-field>
                <input
                type="file"
                accept="image/*"
                id="file-input"
                #fileInput
                (change)="recuperarFoto($event)"
                formControlName="foto"
                >
                <button
                id="btFile"
                type="button"
                mat-stroked-button
                color="accent"
                (click)="fileInput.click()"
                >Selecione uma imagem</button>
        
                <button type="submit" [disabled]="desabilitar" mat-raised-button color="accent" id="salvar">Salvar</button>
            </form>
        </section>
    </mat-card>
</ng-template>
