<h2 mat-dialog-title>Novo Funcionário</h2>

<section mat-dialog-content>
    <form action="" [formGroup]="formFuncionario" (ngSubmit)="salvar()">
        <div id="imgDiv"><img id="image" [src]="fotoPreview.length == 0? fotoBase : fotoPreview " alt=""></div>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input 
            type="text"
            placeholder="Ex: João Pedro"
            matInput
            formControlName="nome"
            #action
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input 
            type="email"
            placeholder="Ex: seuemail@mail.com"
            matInput
            formControlName="email"
            #message
            >
        </mat-form-field>
        <input
        type="file"
        accept="image/*"
        id="file-input"
        #fileInput
        (change)="recuperarFoto($event)"
        >
        <button
        id="btFile"
        type="button"
        mat-stroked-button
        color="accent"
        (click)="fileInput.click()"
        >Selecione uma imagem</button>
        
        <button type="submit" [disabled]="formFuncionario.invalid" mat-raised-button color="accent" id="salvar" (click)="openSnackBar(message.value, action.value)">Salvar</button>
    </form>
</section>